.contentbox {
    width: 100%;
    height: initial;
    margin-bottom: 2em;
}

.qcontainer-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.qcontainer-wrap .qcontainer {
    perspective: 1200px;
    float: left;
    width: 24.9999%;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 0;
    height: calc(46.3299vw - 20px);
}

.qcontainer-wrap .film {
    position: relative;
    height: 100%;
}

.qcontainer-wrap .film .front {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
}

.qcontainer-wrap .film .face > img {
    width: 100%;
    height: 100%;
}

.jq22-content {
    /* height: 350px; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flip-3d {
    perspective: 1200px;
    float: left;
    width: 21.9999%;
    padding: 0 10px;
    box-sizing: border-box;
}

div.flip-3d figure { 
position: relative; 
transform-style: preserve-3d; 
transition: 1s transform;
font-size: 1.6rem; 
}
div.flip-3d figure img { 
width: 100%; height: auto; 
}
div.flip-3d figure figcaption { 
position: absolute; 
width: 100%; height: 80%; top: 0; 
transform: rotateY(.5turn) translateZ(1px); 
background: rgba(255,255,255,0.9); 
text-align: center; 
padding-top: 45%; 
opacity: 0.6; 
transition: 1s .5s opacity; 
}
div.flip-3d:hover figure { transform: rotateY(.5turn); }
div.flip-3d:hover figure figcaption { opacity: 1; }
div.flip-3d figure:after { 
content: " "; display: block;
height: 11vw; width: 100%; 
transform: rotateX(90deg); 
background-image: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%); 
}

@media screen and (max-width: 800px) { 
div#flip-3d { perspective-origin: center top; }
    div#flip-3d figure { 
    float: none; 
    width: 50%; 
    margin: 0 auto; 
    margin-bottom: 12vw; 
}
div.flip-3d figure figcaption{font-size: 0.8rem;}
    div#flip-3d figure:last-child { display: none; }
}
#imageFlow {

    position: absolute;

    width: 100%;

    height: 80%;

    left: 0%;

    top: 10%;

    background: #000;

}

#imageFlow .diapo {

    position: absolute;

    left: -1000px;

    cursor: pointer;

    -ms-interpolation-mode: nearest-neighbor;

}

#imageFlow .link {

    border: dotted #fff 1px;

    margin-left: -1px;

    margin-bottom: -1px;

}

#imageFlow .bank {

    visibility: hidden;

}

#imageFlow .top {

    position: absolute;

    width: 100%;

    height: 40%;

    background: #181818;

}

#imageFlow .text {

    position: absolute;

    left: 0px;

    width: 100%;

    bottom: 16%;

    text-align: center;

    color: #FFF;

    font-family: verdana, arial, Helvetica, sans-serif;

    z-index: 1000;

}

#imageFlow .title {

    font-size: 0.9em;

    font-weight: bold;

}

#imageFlow .legend {

    font-size: 0.8em;

}

#imageFlow .scrollbar {

    position: absolute;

    left: 10%;

    bottom: 10%;

    width: 80%;

    height: 16px;

    z-index: 1000;

}

#imageFlow .track {

    position: absolute;

    left: 1%;

    width: 98%;

    height: 16px;

    filter: alpha(opacity=30);

    opacity: 0.3;

}

#imageFlow .arrow-left {

    position: absolute;

}

#imageFlow .arrow-right {

    position: absolute;

    right: 0px;

}

#imageFlow .bar {

    position: absolute;

    height: 16px;

    left: 25px;

}

/* swiper */
.swiper {
	margin:auto;
}
#gla{
	
	overflow:hidden;
	margin:0 auto;
	position:relative;
	height:404px;
}
.bac{
	position:absolute;
	bottom:0;
	left:50px;
}
#gla_box{
	width:700px;
    margin:auto;
    position: relative;
}
.gla_inbox{
	overflow:hidden;
	position:relative;
}
.gla_inbox p{
	text-indent:1em;
	font-size:14px;
	width:100%;
	color:#FFFFFF;
	line-height:30px;
	background:#000000;
}
.gla_inbox a{
	padding:5px;
	display:block;
	position:absolute;
	top:220px;
	left:90px;
	background:#0066CC;
	color:#FFF;
}
.gla_inbox img{
	width:100%;
	height:100%;
}
#gla_box{
    /* width:700px; */
    width: 85%;
	margin:0 auto;
}
.gla_inbox{
	overflow:hidden;
	position:relative;
}
.gla_inbox p{
	text-indent:1em;
	font-size:14px;
	width:100%;
	color:#FFFFFF;
	line-height:30px;
	background:#000000;
}
.gla_inbox a{
	padding:5px;
	display:block;
	position:absolute;
	top:220px;
	left:90px;
	background:#0066CC;
	color:#FFF;
}
.gla_inbox img{
	width:100%;
	height:100%;
}
.roundabout-holder {
	height: 404px;
    width: 100%;
    margin: 0 auto;
}
.roundabout-moveable-item {
	display:block;
	height: 300px;
    width: 500px;
	cursor: pointer;
}

@media (max-width: 768px) {
    .roundabout-moveable-item {
        width: 75vw;
    }
}

.roundabout-in-focus {
	cursor: auto;
}

/* 导航栏 */
.navbar-header {
    float: left;
}

.anticon-menu {
    display: none;
    color: #FFF;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}

@media (max-width: 768px) {
    .navbar-collapse.collapse {
        display: block;
        position: relative;
        height: 50px;
        text-align: right;
    }

    .navbar-collapse.collapse::before {
        display: inline-block;
        content: "";
        vertical-align: middle;
        height: 100%;
        width: 0;
    }

    .navbar-collapse.collapse .anticon-menu {
        display: inline-block;
        vertical-align: middle;
    }

    .navbar-nav {
        background-color: #337ab7;
        display: none;
        max-height: 450px;
        overflow: auto;
    }
}

/* 加载动画 */
.loading-box {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: radial-gradient(ellipse at center, #430d6d 0%, #000000 100%);
    z-index: 1201;
    opacity: 1;
    animation: hiddenLoing 3s 1;
    animation-fill-mode: forwards;
}

.loading {
    height: 20em;
    left: 50%;
    margin-left: -10em;
    margin-top: -10em;
    -webkit-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
    position: absolute;
    top: 50%;
    width: 20em;
}

.loading cube {
  -webkit-animation: 6s spin linear infinite;
  animation: 6s spin linear infinite;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%;
}

.loading cube * {
  background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 0px, rgba(54, 226, 248, 0.5) 0%, rgba(54, 226, 248, 0.5) 3px, rgba(0, 0, 0, 0) 0px), -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0) 0px, rgba(54, 226, 248, 0.5) 0%, rgba(54, 226, 248, 0.5) 3px, rgba(0, 0, 0, 0) 0px);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0px, rgba(54, 226, 248, 0.5) 0%, rgba(54, 226, 248, 0.5) 3px, rgba(0, 0, 0, 0) 0px), linear-gradient(90deg, rgba(0, 0, 0, 0) 0px, rgba(54, 226, 248, 0.5) 0%, rgba(54, 226, 248, 0.5) 3px, rgba(0, 0, 0, 0) 0px);
  -webkit-background-size: 2.5em 2.5em, 2.5em 2.5em;
  background-size: 2.5em 2.5em, 2.5em 2.5em;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(54, 226, 248, 0.5);
  -webkit-box-shadow: 0 0 5em rgba(0, 128, 0, 0.4);
  box-shadow: 0 0 5em rgba(0, 128, 0, 0.4);
  display: block;
  height: 20em;
  position: absolute;
  width: 20em;
}

.loading cube *:before {
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0) 30%, rgba(0, 128, 0, 0.2) 100%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 30%, rgba(0, 128, 0, 0.2) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
}

.loading back {
  -webkit-transform: rotateX(180deg) translateZ(10em);
  -ms-transform: rotateX(180deg) translateZ(10em);
  transform: rotateX(180deg) translateZ(10em);
}

.loading bottom {
  -webkit-transform: rotateX(-90deg) translateZ(10em);
  -ms-transform: rotateX(-90deg) translateZ(10em);
  transform: rotateX(-90deg) translateZ(10em);
}

.loading front {
  -webkit-transform: rotateY(0deg) translateZ(10em);
  -ms-transform: rotateY(0deg) translateZ(10em);
  transform: rotateY(0deg) translateZ(10em);
}

.loading left {
  -webkit-transform: rotateY(-90deg) translateZ(10em);
  -ms-transform: rotateY(-90deg) translateZ(10em);
  transform: rotateY(-90deg) translateZ(10em);
}

.loading right {
  -webkit-transform: rotateY(90deg) translateZ(10em);
  -ms-transform: rotateY(90deg) translateZ(10em);
  transform: rotateY(90deg) translateZ(10em);
}

.loading top {
  -webkit-transform: rotateX(90deg) translateZ(10em);
  -ms-transform: rotateX(90deg) translateZ(10em);
  transform: rotateX(90deg) translateZ(10em);
}

@keyframes hiddenLoing {
    0%   { display: block; }
    95%  { display: block; opacity: 1; }
    100% { opacity: 0; display: none; }
}

@-webkit-keyframes background {
  to {
    -webkit-background-size: 20em 20em, 20em 20em;
    background-size: 20em 20em, 20em 20em;
  }
}

@keyframes background {
  to {
    -webkit-background-size: 20em 20em, 20em 20em;
    background-size: 20em 20em, 20em 20em;
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: translateZ(-10em) rotateX(0) rotateY(0deg);
    transform: translateZ(-10em) rotateX(0) rotateY(0deg);
  }

  to {
    -webkit-transform: translateZ(-10em) rotateX(360deg) rotateY(360deg);
    transform: translateZ(-10em) rotateX(360deg) rotateY(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: translateZ(-10em) rotateX(0) rotateY(0deg);
    transform: translateZ(-10em) rotateX(0) rotateY(0deg);
  }

  to {
    -webkit-transform: translateZ(-10em) rotateX(360deg) rotateY(360deg);
    transform: translateZ(-10em) rotateX(360deg) rotateY(360deg);
  }
}

/* 时间轴 */
.timeline-wrap {
    width: 100%;
    margin: 20px 0;
    zoom: 1;
}

.timeline-wrap .timeline-index-box {
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.timeline-wrap .timeline-index-box .timeline-index-head {
    display: inline-block;
    font-size: 24px;
    height: 50px;
    width: 50px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    /* background-color: #1957dd; */
    position: relative;
    z-index: 3;
    background-image: url("./../images/hexagon.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center -2px;
}

.timeline-wrap .timeline-index-box .timeline-index-tail {
    position: absolute;
    z-index: 2;
    left: 45px;
    right: 0;
    height: 2px;
    background-color: #1957dd;
    top: 50%;
    transform: translate(0, -50%);
    margin-right: -20px;
}

.timeline-wrap .timeline-index-box .timeline-index-head::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

.timeline-wrap .timeline-item:nth-child(3n+0) .timeline-index-box .timeline-index-tail,
.timeline-wrap .timeline-item:last-child .timeline-index-box .timeline-index-tail {
    margin-right: 0;
    right: 20px;
    background-image: linear-gradient(to right, #1957dd, #fff);
}

.timeline-wrap::after, .timeline ul::after {
    content: "";
    visibility: hidden;
    height: 0;
    display: block;
    clear: both;
}

.timeline-wrap .header {
    width: 100%;
    text-align: center;
    font-size: 34px;
    position: initial;
    font-weight: 600;
    top: 0;
    left: 0;
}

.timeline-wrap .timeline {
    padding: 0 10px;
    box-sizing: border-box;
    margin-top: 20px;
}

.timeline-item {
    float: left;
    width: 33.3333%;
}

@media (max-width: 768px) {
    .timeline-item {
        width: 100%;
    }
}

.timeline ul {
    zoom: 1;
}

.timeline-event-item {
    padding-bottom: 30px;
    position: relative;
}

.timeline-time {
    font-size: 34px;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

.timeline-event {
    padding: 20px;
    padding-left: 25px;
}

.timeline-event-head {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #1957dd;
    z-index: 2;
}

.timeline-event-tail {
    position: absolute;
    top: 0;
    left: 2px;
    bottom: 0;
    border-left: 2px solid #8cabee;
    z-index: 1;
}

.timeline-event-item:last-child .timeline-event-tail {
    height: 0;
}

.timeline-content {
    position: relative;
    top: -3px;
    margin: 0 0 0 18px;
    word-break: break-word;
}

.timeline-content h3 {
    margin-bottom: 5px;
}

.contact-me {
    font-size: 10px;
}

.contact-me .contact-title {
    font-size: 14px;
    margin-bottom: 1em;
}

.contact-me > a {
    float: left;
    height: 3.6em;
    width: 3.6em;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: .5em;
    background-color: #fff;
    border-radius: 50%;
}

.contact-me .email {
    background-image: url("../images/yx.png");
}

.contact-me .twitter {
    background-image: url("../images/tt.png");
}

.contact-me .telegraph {
    background-image: url("../images/telegraph.png");
}

.contact-me .wx {
    background-image: url("../images/wx.png");
}

.contact-me .community {
    border: 1px solid #fff;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

.contact-me .community::before {
    content: "";
    width: 10em;
    height: 10em;
    position: absolute;
    left: 1.8em;
    bottom: 3.6em;
    background-image: url("../images/obeeNetwork.jpg");
    background-size: cover;
    display: none;
}

.contact-me .community::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

.contact-me .community:hover::before {
    display: block;
}

.copy-right {
    margin-top: .9em;
}