.flip-3d {
    width: 49.9999%;
}

.timeline-item {
    position: relative;
}

.timeline-wrap .timeline-index-box {
    position: absolute;
    padding-right: 0;
    padding-left: 0;
    top: 0;
    bottom: 0;
    margin-bottom: 0;
}

.timeline-time {
    padding-left: 64px;
}

.timeline-event {
    padding-left: 70px;
}

.timeline-wrap .timeline-index-box .timeline-index-tail {
    right: initial;
    height: auto;
    width: 2px;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.timeline-wrap .timeline-item:nth-child(3n+0) .timeline-index-box .timeline-index-tail {
    background-color: #1957dd;
    right: initial;
    margin-right: initial;
}

.timeline-wrap .timeline-item:last-child .timeline-index-box .timeline-index-tail {
    margin-right: initial;
    right: initial;
    background-image: linear-gradient(to bottom, #1957dd, #fff);
}